@tailwind base;
@tailwind components;
@tailwind utilities;

.hide_scrollbar {
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.scrollbar::-webkit-scrollbar {
  width: 0.5em !important;
  height: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 6px #003F7A; */
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #003f7a;
  width: 2px;
  border-radius: 10px;
}
body::-webkit-scrollbar {
  width: 0.5em !important;
  height: 10px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #003f7a;
  width: 2px;
  border-radius: 10px;
}
.gray_button {
  @apply bg-buttonGray text-white font-medium text-center md:w-32 w-24 md:h-12 h-10 rounded-lg p-2 hover:bg-buttonGray/80 active:scale-95 transition;
}

.green_button {
  @apply bg-buttonGreen text-white font-medium text-center md:w-32 w-24 md:h-12 h-10 rounded-lg p-2 hover:bg-buttonGreen/80 active:scale-95 transition;
}

.red_button {
  @apply bg-buttonRed text-white font-medium text-center md:w-32 w-24 md:h-12 h-10 rounded-lg p-2 hover:bg-buttonRed/80 active:scale-95 transition;
}

.blue_button {
  @apply bg-primaryBlue text-white font-medium text-center md:w-32 w-24 md:h-12 h-10 rounded-lg p-2 hover:bg-primaryBlue/80 active:scale-95 transition;
}

.input_field{
  @apply outline-none w-full rounded-md border border-gray-300 p-3 focus:border-gray-400 focus:border-2
}

.Label{
  @apply text-textColor/60 font-medium block capitalize
}